small-gpcML-app/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dx="https://www.polymatter.net/software" xmlns:xmime="http://www.w3.org/2005/05/xmlmime">
	<xs:element name="gpcML" type="gpcMLType">
		<xs:annotation>
			<xs:documentation>Root element of the XSD</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="gpcMLType">
		<xs:annotation>
			<xs:documentation>
			This is the data type definition which defines the allowed elements/attributes inside of the nmrML xsd.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Metadata" type="MetadataType"/>
			<xs:element name="ContactList" type="ContactListType"/>
			<xs:element name="RunTimeData" type="RuntimeDataType"/>
			<xs:element name="CalibrationData" type="CalibrationDataType"/>
		</xs:sequence>
		<xs:attribute name="Version" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>gpcML version used.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="xs:int">
			<xs:annotation>
				<xs:documentation>id associated with the gpcML document</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Sample">
		<xs:attribute name="Name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="SampleType"/>
	<xs:complexType name="EluGramType"/>
	<xs:complexType name="MetadataListType">
		<xs:annotation>
			<xs:documentation>contains a sequence of metadata associated with the data</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="ContactType">
		<xs:annotation>
			<xs:documentation>contact information to link data to a laborotory/analyst</xs:documentation>
		</xs:annotation>
		<xs:attribute name="FirstName" type="xs:string" use="required"/>
		<xs:attribute name="MiddleName" type="xs:string" use="optional"/>
		<xs:attribute name="LastName" type="xs:string" use="required"/>
		<xs:attribute name="E-mail" type="xs:string" use="required"/>
		<xs:attribute name="Institution" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ContactListType">
		<xs:sequence>
			<xs:element name="Contact" type="ContactType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InstrumentListType">
		<xs:annotation>
			<xs:documentation>A complexType to contain all necessary instruments used to produce the experimental data</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="InstrumentInfoType">
		<xs:annotation>
			<xs:documentation>Specific information relating to the equipment to allow easy lookup of the parts</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="SerialNumber" type="xs:int" use="required"/>
		<xs:attribute name="Manufacturer" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="RuntimeDataType">
		<xs:annotation>
			<xs:documentation>Contains a list of: the elugram data in a binary heap, List of intergration volumes (if multiple intergrations exist), system peak and internal standard peak volumes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InstrumentConfiguration" type="InstrumentConfigurationType"/>
			<xs:element name="RawData" type="RawDataType">
				<xs:annotation>
					<xs:documentation>Stored as a base64 encoded data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntergrationValues" type="IntergrationValuesListType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CalibrationType"/>
	<xs:complexType name="MetadataType">
		<xs:attribute name="date" type="xs:date" use="required"/>
		<xs:attribute name="MethodName" type="xs:string" use="required"/>
		<xs:attribute name="CalibrationName" type="xs:string" use="optional"/>
		<xs:attribute name="Operator" type="xs:string" use="required"/>
		<xs:attribute name="InstrumentName" type="xs:string" use="required"/>
		<xs:attribute name="RunTime" type="xs:time" use="optional"/>
		<xs:attribute name="lastServiceDate" type="xs:date" use="optional"/>
		<xs:attribute name="SampleName" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="RIDetectorInfoType">
		<xs:sequence>
			<xs:element name="IDinfo" type="InstrumentInfoType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ViscometerInfoType">
		<xs:sequence>
			<xs:element name="IDinfo" type="InstrumentInfoType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UVvisInfoType">
		<xs:sequence>
			<xs:element name="IDinfo" type="InstrumentInfoType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RIDetectorRunType"/>
	<xs:complexType name="ViscometerRunType"/>
	<xs:complexType name="UVvisRunType"/>
	<xs:complexType name="LightScatteringInfoType">
		<xs:sequence>
			<xs:element name="IDinfo" type="InstrumentInfoType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LightScatteringRunType"/>
	<xs:complexType name="InstrumentConfigurationType">
		<xs:sequence>
			<xs:element name="ColumnList" type="ColumnListConfigurationType">
				<xs:annotation>
					<xs:documentation>Columns stored in the order the sample runs through, column at the top of the list will be the column which separates the sample first</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OvenList" type="OvenListType"/>
			<xs:element name="Pump" type="PumpConfigurationType"/>
			<xs:element name="Injector" type="InjectorConfigurationType"/>
			<xs:element name="Eluent" type="EluentType"/>
			<xs:element name="RIDetector" type="RIDetectorConfigurationType"/>
			<xs:element name="UVvis" type="UVvisConfigurationType" minOccurs="0"/>
			<xs:element name="LightScattering" type="LightScatteringConfigurationType" minOccurs="0"/>
			<xs:element name="Viscometer" type="ViscometerConfigurationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RawDataType">
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary">
				<xs:attribute name="Compression" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="OvenListType">
		<xs:choice maxOccurs="2">
			<xs:element name="ColumnOven" type="OvenConfigurationType"/>
			<xs:element name="gpcOven" type="OvenConfigurationType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="UVvisConfigurationType">
		<xs:sequence>
			<xs:element name="UVvisInfo" type="UVvisInfoType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ColumnInfoType">
		<xs:sequence>
			<xs:element name="IDinfo" type="InstrumentInfoType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ColumnInfoListType">
		<xs:sequence>
			<xs:element name="IDinfo" type="InstrumentInfoType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RIDetectorConfigurationType">
		<xs:sequence>
			<xs:element name="RIDetectorInfo" type="RIDetectorInfoType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LightScatteringConfigurationType">
		<xs:sequence>
			<xs:element name="LightScatteringInfo" type="LightScatteringInfoType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ColumnListConfigurationType">
		<xs:sequence>
			<xs:element name="GuardColumn" type="ColumnConfigurationType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Column" type="ColumnConfigurationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PumpConfigurationType">
		<xs:attribute name="FlowRate" type="PositiveFloatType" use="required"/>
	</xs:complexType>
	<xs:complexType name="InjectorConfigurationType">
		<xs:attribute name="InjectionVolume" type="PositiveFloatType" use="required"/>
	</xs:complexType>
	<xs:complexType name="OvenConfigurationType">
		<xs:attribute name="Temperature" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:complexType name="ColumnConfigurationType">
		<xs:sequence>
			<xs:element name="ColumnInfo" type="ColumnInfoType"/>
		</xs:sequence>
		<xs:attribute name="PoreSizeMin" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="PoreSizeMax" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="StationaryPhase" type="xs:string" use="optional"/>
		<xs:attribute name="DateOfInstallation" type="xs:date" use="optional"/>
	</xs:complexType>
	<xs:complexType name="GuardColumnConfigurationType"/>
	<xs:complexType name="CalibrationDataType">
		<xs:sequence>
			<xs:element name="TypeOfFit" type="DegreePolyType">
				<xs:annotation>
					<xs:documentation>Stores the degree of polynomial. used to affirm the correct number of coeffs are added.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CoeffList" type="CoeffListType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PolyCoeffType"/>
	<xs:complexType name="StandardUsedType"/>
	<xs:complexType name="RangeOfStandardsType"/>
	<xs:complexType name="CalibrationDateType"/>
	<xs:simpleType name="DegreePolyType">
		<xs:annotation>
			<xs:documentation>defines if it is a 3rd, 4th or 5th order polynomial</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="3"/>
			<xs:maxInclusive value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CoeffListType">
		<xs:sequence>
			<xs:element name="QuinticCoeff" type="CoeffType" minOccurs="0"/>
			<xs:element name="QuarticCoeff" type="CoeffType" minOccurs="0"/>
			<xs:element name="CubicCoeff" type="CoeffType"/>
			<xs:element name="QuadraticCoeff" type="CoeffType"/>
			<xs:element name="LinearCoeff" type="CoeffType"/>
			<xs:element name="constant" type="CoeffType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CoeffType">
		<xs:restriction base="xs:float"/>
	</xs:simpleType>
	<xs:complexType name="EluentType">
		<xs:sequence>
			<xs:element name="EluentName" type="xs:string"/>
			<xs:element name="AdditiveName" type="xs:string" minOccurs="0"/>
			<xs:element name="RecyclingMode" type="xs:boolean"/>
			<xs:choice minOccurs="1" maxOccurs="2">
				<xs:element name="Ratio" type="RatioType">
					<xs:annotation>
						<xs:documentation>Ratio between the solvent and additive, if necessary. does not check if both sides add to 100.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AdditiveConcentration" type="xs:float">
					<xs:annotation>
						<xs:documentation>concentration of additive in mg/ml</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RatioType">
		<xs:annotation>
			<xs:documentation>only accepts values between 0-100 iin the form of int:int, user must ensure a valid ratio is input (such as both sides adding to 100)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{1,2}|100):([0-9]{1,2}|100)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IntergrationValuesListType">
		<xs:sequence>
			<xs:element name="Baseline" type="IntergrationValuesType"/>
			<xs:element name="Peaks" type="IntergrationValuesType" maxOccurs="unbounded"/>
			<xs:element name="Solvent" type="IntergrationValuesType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IntergrationValuesType">
		<xs:attribute name="StartVolume" type="PositiveFloatType" use="required"/>
		<xs:attribute name="EndVolume" type="PositiveFloatType" use="required"/>
	</xs:complexType>
	<xs:simpleType name="PositiveFloatType">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ViscometerConfigurationType">
		<xs:sequence>
			<xs:element name="ViscometerInfo" type="ViscometerInfoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>